<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/mainIcon.png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> {{ helpMsg }} </p>
    </div>
    {{>footer}}
</body>

</html>